*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --pad: 10px;
  --w-color: #fff;
  --b-color: #000;
  --inp-bg-color: #eee;
  --btn-pad-block: 8px;
  --btn-pad-inline: 16px;
  --btn-color: rgb(255, 64, 0);
}

body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: bold;
  font-size: 18px;
  background-color: var(--inp-bg-color);
}

h1 {
  padding: var(--pad);
  margin-top: 0;
  text-align: center;
  color: var(--b-color);
  background-color: var(--w-color);
}

.event__container {
  padding: var(--pad);
  margin: 0 auto;
  width: 650px;
  background-color: var(--w-color);
}

.event__container .event__form {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.event__container .event__form input {
  padding-block: var(--pad);
  padding-inline: 5px;
  font-size: 15px;
  outline: none;
  border: none;
  border-bottom: 1px solid #aaa;
  background-color: var(--inp-bg-color);
}

.event__container .event__form input[type="date"] {
  cursor: pointer;
}

.event__container .event__form input::placeholder {
  color: #aaa;
}

.event__container button {
  width: 100%;
  padding-block: 10px;
  cursor: pointer;
  color: var(--w-color);
  border: 1px solid #000;
  background-color: orangered;
}
