*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --pad: 10px;
  --w-color: #fff;
  --b-color: #000;
  --inp-bg-color: #eee;
  --btn-pad-block: 8px;
  --btn-pad-inline: 16px;
  --btn-color: rgb(255, 64, 0);
}

body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: bold;
  font-size: 18px;
  background-color: var(--inp-bg-color);
}

h1 {
  padding: var(--pad);
  margin-top: 0;
  text-align: center;
  color: var(--b-color);
  background-color: var(--w-color);
}

.event__container {
  padding: var(--pad);
  margin: 0 auto;
  width: 900px;
  background-color: var(--w-color);
}

.event__container .event__form {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.event__container .event__form input {
  padding-block: var(--pad);
  padding-inline: 5px;
  font-size: 15px;
  outline: none;
  border: none;
  border-bottom: 1px solid #aaa;
  background-color: var(--inp-bg-color);
}

.event__container .event__form input[type="date"] {
  cursor: pointer;
}

.event__container .event__form input::placeholder {
  color: #aaa;
}

.event__container button {
  width: 100%;
  padding-block: 10px;
  cursor: pointer;
  color: var(--w-color);
  border: 1px solid #000;
  background-color: orangered;
}

.events {
  width: 900px;
  margin: 15px auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 15px;
}

.events .event {
  padding: 20px;
  background-color: #fff;
}

.events .event h3 {
  margin: 0 0 20px;
}

.events .event p {
  display: flex;
  justify-content: space-between;
}

.events .event p:not(:last-of-type) {
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}

.events .event button {
  padding: 10px;
  width: 100%;
  display: block;
  border: none;
  background-color: #03a9f4;
  color: white;
  font-weight: bold;
  cursor: pointer;
}
